* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

#content-body,
#header,
#main-content,
#content-canvas,
#greeting-block,
#img-block,
#data-block,
#info-list,
.item-data {
  display: flex;
}

#content-body {
  width: 100%;
  height: 100%;
  background-color: #242424;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 2em;
}

#header {}

#main-content {
  width: 90vw;
  justify-content: flex-end;
}

#content-canvas {
  width: 100%;
  justify-content: center;
  color: #ffffff;
}

#greeting-block,
#data-block {
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

#greeting-block {

}

#info-list {
  width: 100%;
}

#info-list {
  flex-direction: column;
  list-style: none;
  text-decoration: none;
}

.list-item {
  text-decoration: inherit;
  color: #ffffff;
  box-sizing: border-box;
  padding: .2em;
}

.item-data {
  justify-content: flex-start;
}

.item-data img {
  margin: 0 1vw;
}

#location-link {
  pointer-events: none;
}

@media screen and (max-width: 500px) {
  #content-canvas {
    flex-direction: column;
    align-items: center;
  }
  #greeting-block,
  #data-block {
    width: 90%;
    margin: 1em 0;
  }
}
