body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry,
.online-entry {
  padding: 1% 0 3%;
}

.education-entry,
.online-entry {
  text-align: center;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  display: inline;
  font-weight: 500;
}

h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  line-height: 28px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px 0%;

}

#name {
  font-weight: 700;
  letter-spacing: 0.01em;
}

#role {
  font-size: 35px;
  letter-spacing: 2px;
  padding-left: 20px;
  font-weight: 300;
}

.contact-img {
  width: 24px;
  padding: 0 10px;
  margin: 0;
  vertical-align: text-bottom;
}

.title-work,
.title-project,
.title-education,
.title-online {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  color: #8323ff;
  padding: 5px 0;
}

#online-header {
  font-style: normal;
  font-weight: 500;
  padding: 10px 0 20px;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
}

.location-text,
.location-education {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
}

.location-text {
  float: right;
}

.work-paragraph,
.ordered-list,
.project-paragraph {
  text-align: justify;
  word-spacing: -0.03em;
}

p {
  font-size: 14px;
  color: #333;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

#main {
  line-height: 1.5em;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

#skills {
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: row;
}

#skills-entry {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0 0 20px 0;
}

#skills-h3 {
  display: block;
}

.skill-item {
  line-height: 2em;
  width: 20%;
  padding: 5px 10px;
  margin: 0 auto;
}

.skill-value {
  width: 100%;
  max-width: 100%;
  height: 7px;
  background-color: #fafafa;
  margin: 0 auto;
  border-radius: 20px;
  border: transparent solid 1px;
}

.skill-range {
  background-color: #8323ff;
  height: inherit;
  transition: width 2s;
  border-radius: 20px 0 0 20px;
}

#holder {
  padding: 0;
}

.button {
  background-color: #8323FF;
  color: #fff;
  max-width: 230px;
  margin: 0 auto;
  border-radius: 2px;
  font-size: 18px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .39);
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, .39);
  transform: translate();
}

/*Float Action Button - FAB*/
#fab-button {
  position: fixed;
  bottom: 24px;
  right: 0px;
  width: 56px;
  height: 56px;
  padding: 24px;
  cursor: pointer;
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

#fab-image {
  width: 100%;
  padding: 0;
  margin: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .39);
  transition: 0.2s;
  background-color: transparent;
  border-radius: 50%;
}

#fab-image:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, .39);
}

.show {
  opacity: 1 !important;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f4f4f4;
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
  background-color: #484848 !important;
  color: #fff;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 1.5% 10%;
}


/*List Style*/
ul {
  list-style-type: none;
}

.ordered-list {
  list-style-type: circle;
  margin-left: 5%;
}

.list-style {
  font-size: 14px;
  line-height: 1.5em;
  padding: 0.5em 0;
}

.biopic-container {
  width: 220px;
  height: 220px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
}

.biopic {
  width: 100%;
  border-radius: 50%;
}

/*Work style*/
.work-item {
  padding: 5px 0;
}

/*Project style*/
.project-img-container {
  display: inline-block;
  max-width: 300px;
  padding: 10px 20px 5px 0;
}

.project-img {
  width: 100%;
  border: #646464 solid 1px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic-container {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic-container {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0;
}

#map-div {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
  box-sizing: border-box;
}

@media only screen and (max-width: 550px) {
  .skill-item {
    width: 40%;
  }
  .flex-box {
    flex-direction: column;
  }
  #name,
  #role {
    font-size: 7vw;
  }
  #top-contacts {
    font-size: 14px;
  }
  #lets-connect {
    margin-top: 15%;
  }
}

@media only screen and (max-width: 400px) {
  #lets-connect {
    margin-top: 20%;
  }
}
